#logo {
  font-family: "Bungee", "sans-serif";
}

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #cc9900;
  
  color: #FFFFFF;
  padding: 1.5em;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
  
}